$brand-blue: #166ee0;
$brand-dark-blue: #2a83f7;
$brand-black: #494949;
$brand-grey: #8c8c8c;
$brand-dark-grey: #e6e6e6;
$brand-blue-black: #49475b; 
$brand-orange: #ff9a00;
$brand-green: #6eae0a; 
$brand-red: #d53456;
$brand-warning-yellow: #f0bf15;