
.btn:focus{
	outline: none !important;
}

.b2t-dropdown {
  position: relative;
  display: inline-block;
  z-index: 99;
  button {
    background: transparent;
    border: none;
    padding: 0;
    color: #fff;
    font-weight: 700;
    position: relative;
    padding-right: 24px;
    .user-thumb {
      margin-right: 10px;
    }
    * {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      margin-bottom: 0;
    }
    &:after {
      transition: all 0.2s ease-in;
      content: "";
      display: block;
      width: 11px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -4px;
      height: 7px;
      background: url(../images/arrow-xs.svg);
    }
    &:focus {
      outline: none;
    }

    &:focus:after {
      transform: rotate(180deg);
    }

    &:focus+* {
      visibility: visible;
      opacity: 1;
    }
  } // holder
  .b2t-dropdown__content {
    position: absolute;
    margin-top: 5px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    width: 100%;
    transition: opacity 0.2s linear;
    box-shadow: 0 -1px 18px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-width: 280px;
    min-width: 180px;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        text-align: left;
        a {
          color: #000;
          font-weight: 700;
          padding: 10px 20px;
          display: block;
          border-bottom: 1px solid #f1f1f1;
          &:hover,
          &:focus {
            text-decoration: none;
            opacity: 0.7;
          }
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  } // responsible
  @media (max-width: 767px) {
    button p {
      display: none;
    }
  }

  @media (max-width: 990px) {
    button p {
      display: none;
    }
  }
}


// Button shy
.btn-shy {
	display: inline-block;
	box-shadow: 0 0 17px 1px rgba(231, 150, 0, 0.5);
	border-radius: 23px;
	padding: 11px 20px;
	background-color: #ff9a00;
	background-image: linear-gradient(40deg, rgba(251, 167, 38, 0.9) 0%, rgba(255, 203, 70, 0.9) 100%);
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.38px;
	transition: box-shadow 0.2s ease;

	&:hover,
	&:focus{
		color: #fff;
		box-shadow: 0 0 24px 1px rgba(231, 150, 0, 0.7);
	}
}

.btn-transparent{
	background: transparent;
	border-color: inherit;
}
.btn-gray{
	border: 2px solid #d6d6d6;
	color: #bababa;
	&:hover,
	&:focus{
		opacity: 0.8;
		color:  #bababa;
	}
}
.btn{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 38px;
  padding: 0;
}
.btn-rounded{
	border-radius: 22px;
}

.btn-reload{
	padding: 7px 38px;
	.b2t-icons{
		position: relative;
		top: 3px;
		margin-right: 11px;
	}
}

.btn-circle{
  border-radius: 50%;
  padding: 0;
  width: 33px;
  height: 33px;
  background-color: $brand-blue;
  border-color: $brand-blue;
  box-shadow: 0 0 16px 2px rgba(130, 130, 130, 0.26);
}

.btn-lg.btn-circle{
  width: 53px;
  height: 53px;
}

.btn-warning{
  background-color: #ff9a00;
  border-color:  #ff9a00;
}

.btn-link{
  font-weight: 700;
  background: transparent !important;
  border-color: transparent !important;
  &:focus,
  &:hover{
    background: transparent !important;
    border-color: transparent !important;
    text-decoration: none !important;
  }
}

.btn-link.btn-danger{
  color: $brand-red;
  &:focus{
    color: $brand-red;
    opacity: 0.7;
  }
}
.btn-link.btn-primary{
  color: $brand-blue;
}
.btn-primary{
  background: $brand-blue;
  border-color: $brand-blue;
}

.btn-primary.btn-has-shadow{
  box-shadow: 0 -2px 20px rgba(5, 71, 158, 0.4) !important;
}

.btn-primary.btn-has-shadow:hover{
  box-shadow: 0 -2px 40px rgba(5, 71, 158, 0.4) !important;
}