.footer {
  background: #1c212e;
  .footer__top {
    padding: 20px 0;
    border-bottom: 2px solid #252a38;
  }
  .footer__bottom {
    background-color: #1a1e2a;
    padding: 20px 0;
  }

  .breadcrumbs {
    padding: 0;
    margin: 0;
    li {
      color: #fff;
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 0 7px;
      &,
      a {
        letter-spacing: 0.33px;
        font-size: 13px;
        font-weight: 700;
      }
      a {
        color: #44454a;
        &:hover {
          text-decoration: none;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      &:after {
        position: absolute;
        content: "»";
        right: -5px;
      }
    }
  }

  .footer__nav {
    padding: 0;
    margin: 0;
    >li {
      display: inline-block;
      vertical-align: top;
      width: 16.6%;
      margin-right: -4px;
      padding: 40px 0;
      >span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        display: block;
        margin-bottom: 15px;
        letter-spacing: 0.45px;
      }

      >ul {
        padding: 0;
        margin: 0;
        >li {
          list-style: none;
          padding: 5px 0;
          >a {
            color: #909090;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.35px;
            &:hover,
            &:focus {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      @media (min-width: 767px) and (max-width: 979px) {
        width: 25%;
      }
      @media (min-width: 240px) and (max-width: 767px){
        width: 50%;
      }
    }
  }
}
