.custom-select {
  position: relative;
  width: 100%;
  display: block;
  >button {
    box-shadow: 0 -1px 23px 3px rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 1px solid #f4f3f7;
    background-color: #ffffff;
    color: #7e7a7a;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 41px 10px 19px;
    letter-spacing: 0.35px;
    width: 100%;
    display: block;
    text-align: left;
    position: relative;
    &:focus {
      outline: none;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -5px;
      transition: all 0.2s ease;
      width: 15px;
      height: 10px;
      background: url(./../images/orange-dropdown.svg);
    }
    &:focus {
      &:after {
        transform: rotate(-180deg);
      }
      +* {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .custom-select__body {
    opacity: 0;
    z-index: 1001;
    visibility: hidden;
    transition: opacity 0.1s linear;
    position: absolute;
    width: 100%;
    background: #fff;
    margin-top: -3px;
    border-right: 1px solid #f4f3f7;
    border-bottom: 1px solid #f4f3f7;
    border-left: 1px solid #f4f3f7;
    border-radius: 0 0 4px 4px;
    >ul {
      padding: 0;
      margin: 0;
      >li {
        font-size: 14px;
        list-style: none;
        padding: 10px 10px 10px 19px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          background: #efeef1;
        }
      }
    }
  }
}



/* 
 * Simple text switcher
 */

.simple-switcher {
  input[type="radio"] {
    display: none;
    &:checked + label{
      color: $brand-blue;
    }
  }
  label {
    transition: color 0.2s ease;
    color: $brand-grey;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
