.header {
  background-image: linear-gradient(29deg, #237ff8 0%, #1875f0 99%, #1875f0 100%);
  padding: 18px 0;
  box-shadow: 0 -1px 24px 1px rgba(0, 0, 0, 0.2);
  .header-top {
    margin-bottom: 22px;
  }
  .header-middle {
    margin-bottom: 22px;
  }
  .header-nav {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      font-weight: 700;
      padding: 13px 20px;
      a {
        color: #8cbaf6;
        &:hover,
        &:focus {
          color: #fff;
          text-decoration: none;
        }
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      @media(max-width: 997px) {
        padding: 13px 10px;
      }
    }
  }

  .form-control {
    background-color: #1b63c2;
    border-radius: 20px;
    height: 39px;
    width: 100%;
    padding: 0 55px;
    border: 1px solid transparent;
    color: #fff;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.15);
    }
  }

  .breadcrumbs {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        color: #c1a7ef;
        padding: 0 6px;
        a {
          color: #aed1ff;
          &:hover,
          &:focus {
            text-decoration: none;
            color: #fff;
          }
        }
        li:first-child {
          padding-left: 0;
        }
        li:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
