.b2t-icons{
	display: inline-block;
	position: relative;
	&:before{
		width: inherit;
		height: inherit;
	}
}

.b2t-icons--star{
	background: url('../images/stars.svg') no-repeat 0 0;
	width: 15px;
	height: 15px;
}
.b2t-icons--empty{
	background-position: -20px 0;
}
.b2t-icons--next{
	width: 14px;
	height: 11px;
	background: url(../images/cherov-xs.svg);
}

.b2t-icons--reload{
	width: 16px;
	height: 16px;
	background: url(../images/reload.svg);
}

.b2t-icons--mark{
	width: 8px;
	height: 12px;
	background: url(../images/mark-xs.svg);
}

.b2t-icons--location{
	width: 22px;
	height: 22px;
	background: url(../images/navigation.svg);
}
.b2t-icons--pencile{
	width: 11px;
	height: 11px;
	background: url(../images/icon-pencile.png);
}

.b2t-icons--circle-cross{
	width: 20px;
	height: 20px;
	background: url(../images/icon-cross-circle.png);
}

.b2t-icons--plus{
	width: 17px;
	position: relative;
	top: 2px;
	height: 17px;
	background: url(../images/icon-plus.png);
}
.b2t-icons--circle-arrow{
	width: 70px;
	height: 70px;
	background: url(../images/arrow-next-gray.png) #f0f0f0 no-repeat center;
	border-radius: 50%;
}