.label{
	border-radius: 35px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 27px;
	padding: 5px 15px;
	padding-bottom: 6px;
	letter-spacing: 0.3px;
}

.label-primary{
	background: $brand-blue;
}