.subnav-wrapper{
	margin-top: -50px;
	background: #fff;
}

.subnav{
	padding: 0;
	margin: 0;
	>li{
		list-style: none;
		display: inline-block;
		position: relative;

		>a{
			letter-spacing: 0.38px;
			color: $brand-blue-black;
			font-weight: 700;
			padding: 20px;
			font-size: 15px;
			line-height: 14px;
			display: block;

			&:hover,
			&:focus{
				text-decoration: none;
				color: $brand-grey;
			}

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
				padding: 20px 15px;
			}
		}

		.counter{
			@include rounded-corner(50%);
			display: block;
			color: #fff;
			font-size: 11px;
			position: absolute;
			top: 7px;
			right: 0;
			font-weight: 700;
			letter-spacing: 0.28px;
			display: inline-block;
			line-height: 20px;
			width: 20px;
			text-align: center;
			background: $brand-orange;

		}
	}
}