.panel {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  border: 1px solid #eeeeee;
  background-color: #fafafa;
  padding: 33px 0;
  .filter-group {
    padding: 15px;
    border-bottom: 1px solid #efeef1;
    >label {
      color: #494949;
      font-size: 16px;
      font-weight: 700;
      line-height: 15px;
      /* Text style for "Delivery" */
      letter-spacing: 0.4px;
      margin-bottom: 10px;
      display: block;
    }

    &:last-child {
      border-bottom-color: transparent;
    }
  }
}

.panel--filters {
  max-width: 253px;
  @media (min-width: 767px) and (max-width: 979px) {
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 15px;
    .filter-group {
      display: inline-block;
      width: 33.3%;
      margin-right: -4px;
    }
  }
}

.panel-blue {
  border: none;
  background: $brand-dark-blue;
  padding: 21px;
}

.panel-title {
  padding: 28px 33px;
  color: $brand-black;
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f4f3f7;
  background-color: #ffffff;
  margin-bottom: 20px;
}
