.products-list{
	margin: 0 -5px;
  margin-bottom: 80px;
	 > *{
		display: inline-block;
		vertical-align: top;
	}

  @media (min-width: 767px) and (max-width: 979px){
    margin: 0;
    text-align: center;
  }

  @media (min-width: 240px) and (max-width: 767px){
    margin: 0;
    text-align: center;
  }
}

.product-card {
  max-width: 270px;
  box-shadow: 0 -1px 25px rgba(141, 140, 140, 0.22);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px;
  padding-bottom: 35px;
  .product-card__image {
    position: relative;
    height: 145px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    a {
      display: block;
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
    img {
      position: absolute;
      left: 0;
      transition: opacity 0.2s linear;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  .product-card__name {
    text-align: center;
    padding: 15px 21px 8px 21px;
    a {
      text-align: center;
      color: $brand-black;
      font-size: 21px;
      font-weight: 700;
      line-height: 27.22px;
      letter-spacing: 0.52px;
      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  .product-card__description {
    padding: 0 33px 30px 33px;
    color: $brand-grey;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
    letter-spacing: 0.33px;
  }

  .product-card__price {
    text-align: center;
    position: relative;
    margin-bottom: 21px;
    p {
      color: $brand-black;
      font-size: 31px;
      font-weight: 300;
      line-height: 26.91px;
      letter-spacing: 0.82px;
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 1px solid $brand-dark-grey;
    }

    small {
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 14px;
      color: #999999;
      letter-spacing: 0.38px;
    }
  }

  .product-card__reviews {
    text-align: center;
    margin-bottom: 34px;
    p {
      color: #bababa;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.28px;
    }
  }

  .product-card__button {
    padding: 0 30px;
    .btn-shy {
      display: block;
      width: 100%;
    }
  }
}
