.user-thumb {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background: #e3f7fd;
  span {
    color: #9eacb0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120%;
    height: auto;
    margin: auto;
  }
}

.user-thumb__xs {
  @extend .user-thumb;
  width: 35px;
  height: 35px;
  span{
  	line-height: 35px;
  }
}

.user-thumb__sm {
  @extend .user-thumb;
  width: 70px;
  height: 70px;
  span{
  	line-height: 70px;
  }
}

.user-thumb__md {
  @extend .user-thumb;
  width: 100px;
  height: 100px;
  span{
  	line-height: 100px;
  }
}
