.copyright {
  margin-bottom: 0;
  color: #44454a;
  font-size: 12px;
  letter-spacing: 0.3px;
}

h1 {
  color: #383838;
  font-size: 48px;
  font-weight: 200;
  /* Text style for "S, earch" */
  letter-spacing: 1.2px;
}

.page-header {
  border-color: transparent;
}

.page-head {
  padding: 35px 0;
  &,
  >span {
    color: #49475b;
    font-size: 26px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    text-transform: uppercase;
  }

  @media (max-width: $screen-xs-max) {
  	padding: 25px 0 10px 0;
    &,
    >span {
      font-size: 20px;
    }
  }
}

.page-head--sm {
  @extend .page-head;
  padding: 25px 0;
  &,
  >span {
    font-size: 21px;
  }
}

.text-success {
  color: $brand-green;
}

.text-primary {
  color: $brand-blue;
}

.text-default {
  color: $brand-blue-black;
}

.text-danger{
  color: $brand-red;
}

.text-warning{
  color: $brand-warning-yellow;
}