button.toggle{
	background: transparent;
	border: none;
	padding: 0;
	width: 30px;
	height: 16px;
	span{
		display: block;
		height: 2px;
		border-radius: 2px;
		width: 100%;
		background: #fff;
		margin-bottom: 7px;
	}
}