.article-sm-card {
  position: relative;
  height: 130px;
  width: 100%;
  max-width: 370px;
  max-height: 130px;
  margin: 30px auto;
  color: #61606b;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  .article-sm-card__background {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .article-sm-card__background{
  	position: absolute;
  	bottom: 0;
	left: 0;
  }
  .article-sm-card__content {
    position: absolute;
    max-width: 130px;
    left: 32px;
    bottom: 15px;
    .article-sm-card__content__category {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.35px;
      line-height: 26px;
      margin: 0;
    }
    .article-sm-card__content__title {
      font-weight: 400;
      letter-spacing: 0.53px;
      line-height: 24px;

      @media (max-width: $screen-xs-max) {
      	margin-bottom: 0;
      }
    }
  }
}
