.dashboard-component{
	margin: 10px 0;

	.page-head--sm{
		margin-bottom: 40px;
		.btn{
			min-width: 170px;
		}

		.text-right{
			text-align: left;
		}
	}
}
.dashboard-component-statistic{
	box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: 1px solid #f4f3f7;
	background-color: #ffffff;
	padding: 43px 30px;
	margin: 20px 0;
	height: 150px;

	>span{
		color: #b3b3b3;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		text-transform: uppercase;
		/* Text style for "spended TO" */
		letter-spacing: 0.35px;
		padding-bottom: 12px;
		display: block;
	}
	>p{
		color: $brand-blue-black;
		font-size: 46px;
		font-weight: 300;
		line-height: 27px;
		text-transform: uppercase;
		letter-spacing: 1.15px;
	}
	a{
		display: block;
		text-align: center;
		i{
			width: 50px;
    		height: 50px;
    		margin-top: -10px;
    		margin-bottom: 10px;
    		background-size: 40%;
		}
		p{
			margin-bottom: 0;
			color: #c7c7c7;
			font-size: 15px;
			font-weight: 700;
			line-height: 15px;
			text-transform: uppercase;
			letter-spacing: 0.38px;
		}

		&:hover,
		&:focus{
			text-decoration: none;
			opacity: 0.8;
		}
	}
}