.dish-card {
  @include rounded-corner(10px);
  position: relative;
  width: 100%;
  max-width: 270px;
  height: auto;
  overflow: hidden;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  margin: 15px auto;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.5);

  .dish-card__background {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .dish-card__overlay {
    @include rounded-corner(10px);
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .dish-card__body {
    @include rounded-corner(10px);
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
  }

  .dish-card__category {
  	letter-spacing: 0.42px;
  	margin-bottom: 0;
  }
  .dish-card__name{
  	font-size: 28px;
	letter-spacing: 0.7px;
	margin-bottom: 0;
  }
  .dish-card__remove{
  	position: absolute;
  	top: 13px;
  	right: 13px;
  	background: transparent;
  	padding: 0;
  	border: none;
  	padding: 0;
  	z-index: 99;
  	i{
  		font-size: 20px;
  		color: #fff;
  	}

  	&:focus{
  		outline: none;
  		opacity: 0.7;
  	}
  }
}
