.list-component {
  box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f4f3f7;
  background-color: #ffffff;
  padding: 17px 30px;
  margin: 10px 0;
  .list-component__data {
    display: table;
    width: 100%;
    >.list-component__block {
      display: table-cell;
      vertical-align: middle;
      >span{
      	display: block;
      	color: $brand-grey;
      	font-weight: 700;
      	text-transform: uppercase;
      	font-size: 12px;
      	letter-spacing: 0.28px;
      }
      strong{
      	font-weight: 700;	
      	letter-spacing: 0.4px;
      	font-size: 19px;
        span{
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 0.33px;
        }
      }
    }
  }


  @media (max-width: $screen-xs-max) {
    .list-component__data{
      display: block;
      >.list-component__block{
        display: inline-block;
        vertical-align: top;
        height: 45px;
        width: 50%;
        margin-right: -4px;
        margin-bottom: 9px;
        strong{
          font-size: 14px;
        }
      }
    }
  }
}
