.member-card {
  box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f4f3f7;
  background-color: #ffffff;
  height: 287px;
  width: 100%;
  max-width: 270px;
  position: relative;
  padding-bottom: 45px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;

  .member-card__image {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    >* {
      margin: auto;
    }
  }

  .member-card__name {
    &,
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: $brand-blue-black;
      letter-spacing: 0.4px;
    }
  }

  .member-card__contact{
  	color: $brand-grey;
  	font-size: 12px;
  	font-weight: 400;
  	height: 25px;
  	line-height: 13px;
  	letter-spacing: 0.25px;
    text-transform: none;
  }

  .member-card__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #f8f8f8;
    display: table;
    >* {
      display: table-cell;
      vertical-align: middle;
      height: 45px;
      text-align: center;
      border-right: 1px solid #f8f8f8;
      &:last-child{
        border-right: none;
      }
      .btn{
        padding: 0 !important;
        height: 45px;
        display: block;
        width: 100%;
        line-height: 44px;
      }
    }
  }
}
