.object-bar {
  display: table;
  width: 100%;
  box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f4f3f7;
  background-color: #ffffff;
  >div {
    display: table-cell;
    vertical-align: top;
  }
  .object-bar__left {
    width: 25%;
    background-image: linear-gradient(to top, #166ee0 0%, #3b8af2 100%);
    border-radius: 4px 0 0 4px;

    .object-bar__left__search {
      padding: 30px;
      padding-bottom: 15px;
      input {
        border-radius: 18px;
        background: url(./../images/icon-search.png) no-repeat #1b63c2 18px center;
        display: block;
        height: 36px;
        width: 100%;
        border: none;
        color: #fff;
        padding: 0 45px;
        font-weight: 700;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .object-bar__left__nav-toggle{
    	display: none;
    }

    .object-bar__left__nav {
      padding: 0;
      margin: 0;
      >li {
        list-style: none;
        border-bottom: 1px solid #2371d6;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        a {
          color: #ffffff;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.38px;
          display: block;
          padding: 10px 30px;

          &:hover,
          &:focus {
            text-decoration: none;
            background: #2371d6;
          }
        }
      }
    }
  } // right
  .object-bar__right {
    padding: 0 30px;
    height: 650px;
  }

  @media (max-width: $screen-sm-max) {
  	display: block;
	>div{
		display: block;
	}

	.object-bar__right{
		height: auto;
	}

	.object-bar__left{
		width: 100%;
		border-radius: 4px 4px 0 0;
		.object-bar__left__top{
			display: table;
			width: 100%;
			>*{
				display: table-cell;
				vertical-align: middle;
			}
			.object-bar__left__search{
				width: 80%;
				padding: 30px 15px 30px 30px;
			}
			.object-bar__left__nav-toggle{
				text-align: right;
				padding-right: 30px;
			}
		}

		.object-bar__left__nav{
			display: block;
			width: 100%;
			height: 0;
			overflow: hidden;
		}
	}
  }
}
