.order-sm-card {
  box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #f4f3f7;
  background-color: #ffffff;
  height: 160px;
  position: relative;
  padding-bottom: 45px;
  margin: 15px auto;
  max-width: 370px;



  .order-sm-card__top {
    padding: 22px;
    @media (max-width: $screen-xs-max) {
    	padding: 18px;
      .user-thumb__sm {
        width: 35px;
        height: 35px;
        span {
          line-height: 35px;
          font-size: 11px;
        }
      }

      .order-sm-card__aditional {
        padding-top: 0;
        margin-top: -2px;
      }
    }
  }

  .user-thumb__sm {
    width: 56px;
    height: 56px;
    span {
      line-height: 56px;
    }
  }

  .order-sm-card__user-data {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3%;
    margin-right: -4px;
    strong {
      display: block;
      color: $brand-blue-black;
      font-size: 12px;
      line-height: 18px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.4px;
    }
    small {
      font-weight: 400;
      letter-spacing: 0.3px;
      color: $brand-grey;
    }
  }

  .order-sm-card__buttons {
    display: table;
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    border-top: 1px solid #f8f8f8;
    >div {
      display: table-cell;
      text-align: center;
      border-right: 1px solid #f8f8f8;
      &:last-child {
        border-right: none;
      }
    }
    .btn {
      padding: 0 !important;
      height: 45px;
      display: block;
      width: 100%;
      line-height: 44px;
    }
  }

  .order-sm-card__aditional {
    padding-top: 7px;
    >p {
      margin-bottom: 0;
      font-weight: 700;
    }
  }

  @media (max-width: $screen-xs-max) {
    height: 130px;
  }
}
