.overviews-blocks{
	position: relative;
	.overview-item{
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		margin-right: -4px;
		height: 140px;
		border-right: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
		text-align: center;
		color: #49475b;
		font-size: 14px;
		font-weight: 700;
		line-height: 35px;
		text-transform: uppercase;
		padding-top: 25px;
		span{
			display: block;
			font-weight: 700;
			letter-spacing: 0.35px;
		}
		strong{
			display: block;
			color: $brand-blue;
			font-size: 51px;
			font-weight: 300;
			letter-spacing: 1.27px;
		}
		a{
			display: block;
			margin-top: -5px;
			color: #c7c7c7;
			font-size: 15px;
			&:hover{
				text-decoration: none;
				opacity: 0.7;
			}
			p{
				line-height: 13px;
				margin: 0; 
			}
		}

		&:nth-child(3n){
			border-right-color: transparent;
		}

		@media (max-width: $screen-xs-max) {
			
			width: 50%;
			font-size: 11px;
			border-right: none;
			line-height: 20px;
			height: 89px;
			padding-top: 20px;
			strong{
				font-size: 20px;
			}

			&:last-child{
				display: block;
				width: 100%;
				height: 140px;
			}
		}
	}

	&:after{
		position: absolute;
		height: 1px;
		width: 100%;
		content: "";
		display: block;
		bottom: 0px;
		background: #fff;
		left: 0;
	}
}