.review-card{
	box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: 1px solid #f4f3f7;
	background-color: #ffffff;
	padding: 25px 38px;
	margin-bottom: 40px;

	.review-card__user{
		>*{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.review-card__user__data{
		margin-left: 10px;
		.review-card__user__data__name{
			margin-bottom: -1px;
		}

		.review-card__user__data__name a{
			color: $brand-black;
			font-size: 14px;
			font-weight: 700;
			line-height: 13px;
			letter-spacing: 0.35px;
		}
		.review-card__user__data__date{
			color: #b4b4b5;
			font-size: 10px;
			font-weight: 700;
			line-height: 10x;
			letter-spacing: 0.25px;
			margin-bottom: 0;
		}
	}

	.review-card__body{
		margin-top: 14px;
		color: $brand-black;
		font-size: 15px;
		font-weight: 400;
		line-height: 21px;
		/* Text style for "B, oy favo" */
		letter-spacing: 0.38px;
		border-radius: 4px;
		background-color: #f7f7f7;
		padding: 15px;
	}

	@media (max-width: 767px) {
		padding: 15px;
		.text-right{
			text-align: left;
		}
		.review-card__user__stars{
			padding-left: 45px;
			padding-top: 5px;
		}
	}

}