.user-profile-card{
	text-align: center;
	background-color: #1875f0;
	box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
	color: #fff;
	margin-bottom: 17px;
	.user-thumb{
		margin-bottom: 15px;
	}
	.user-profile-card__name{
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: 0.38px;
		margin-bottom: 11px;
	}
	.user-profile-card__stars{
		>p{
			font-size: 12px;
		}
	}
	.user-profile-card__city{
		color: #ffffff;
		font-size: 12px;
		font-weight: 700;
		line-height: 12px;
		letter-spacing: 0.3px;
		>.b2t-icons{
			position: relative;
			top: 1px;
			margin-right: 6px;
		}
	}
}

.user-profile-statistic{
	padding: 24px 30px;
	box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: 1px solid #f4f3f7;
	background-color: #ffffff;
	margin-bottom: 20px;

	.user-profile-statistic__b{
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		position: relative;
		text-align: center;
		small{
			color: #d5d5d5;
			font-size: 14px;
			font-weight: 700;
			line-height: 23.84px;
			letter-spacing: 0.35px;
			display: block;
		}
		strong{
			color: #636363;
			font-size: 24px;
			letter-spacing: 0.6px;
		}
		&:after{
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			height: 44px;
			margin-top: -22px;
			background: #ededed;
			width: 1px;
		}
		&:last-child:after{
			display: none;
		}
	}
}

.user-profile-location{
	box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border: 1px solid #f4f3f7;
	background-color: #ffffff;
	margin-bottom: 150px;
	padding: 17px;
	position: relative;
	>div{
		display: inline-block;
		vertical-align: middle;
		margin-right: -4px;
		&:first-child{
			width: 20%;
			max-width: 45px;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				height: 44px;
				margin-top: -22px;
				background: #ededed;
				width: 1px;
			}
		}
		&:nth-child(2){
			width: 80%;
			padding-left: 18px;
		}
	}

	strong{
		color: $brand-blue-black;
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.37px;
		line-height: 18.99px;
		display: block;
	}
	small{
		color: #b1b1b1;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.4px;
	}
	.user-profile-location__map{
		position: absolute;
		top: 100%;
		left: 0;
		max-width: 100%;
		overflow: hidden;
		border-radius: 0 0 4px 4px;
		width: 100% !important;
		iframe{
			width: 100%;
			height: 125px;
		}
	}
}